<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="https://www.thymeleaf.org"
	layout:decorate="~{/admin/layouts/master}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Category</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<a th:href="@{/category-list}" class="btn btn-info">Back</a>
					</div>
				</div>
			</div>
		</div>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-primary">
							<div class="card-header">
								<h3 class="card-title">Create Category Form</h3>
							</div>
							<form role="form" th:action="@{/category-add}" method="post">
								<div class="card-body">
									<div class="form-group">
										<label for="exampleInputEmail1">Name</label> <input
											type="text" class="form-control" id="exampleInputEmail1"
											name="name" placeholder="Enter name">
									</div>
								</div>
								<div class="card-footer">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
