<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="https://www.thymeleaf.org"
	layout:decorate="~{/front/layouts/master}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Login</title>
</head>

<body>
	<section class="featured spad" layout:fragment="content">
		<div class="container">
			<div class="checkout__form">
				<h4>User Login</h4>
				<form th:action="@{/login}" method="post">
					<div class="row">
						<div class="col-lg-8 col-md-6">
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											UserName<span>*</span>
										</p>
										<input type="text" name="username">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Password<span>*</span>
										</p>
										<input type="password" name="password">
									</div>
								</div>
								<button type="submit" class="site-btn">Login</button><br/>
								<a th:href="@{/registration}"><i class="fa fa-user"></i> Create New User</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>
